<div class="max-w-7xl page-container">

    <app-headerpages [TitlePage]="'Lista de Chamados'" [SubtitlePage]="'Gerenciamento de chamados de serviço'"></app-headerpages>

    <div class="grid grid-cols-2 sm:grid-cols-2 xl:grid-cols-4 gap-4 md:gap-5 my-6 md:my-8">
        <app-chamados-cards-resume label="Performance" [value]="8"></app-chamados-cards-resume>
        <app-chamados-cards-resume label="Acesso" [value]="10"></app-chamados-cards-resume>
        <app-chamados-cards-resume label="Funcionalidade" [value]="2"></app-chamados-cards-resume>
        <app-chamados-cards-resume label="Infraestrutura" [value]="4"></app-chamados-cards-resume>
    </div>
    <app-filter-lista-chamados (filtrosChange)="aplicarFiltros($event)"></app-filter-lista-chamados>
    <div *ngIf="chamadosFiltrados.length === 0" class="text-center font-bold text-xl mx-auto my-10">Nenhum chamado encontrado com os filtros aplicados.</div>
    <div *ngIf="chamadosFiltrados.length > 0"><app-cards-chamados [chamadosFiltrados]="chamadosFiltrados"></app-cards-chamados></div>
</div>