<nav class=" w-3xs h-full p-4 text-white">
    <div class=" pt-4 pb-8 mb-8 border-b border-gray-300">
        <h3 class="mb-1 text-xl font-bold">Gerenciamento de Chamados</h3>
        <p class="text-sm text-gray-300">Sistema de Chamados</p>
    </div>

    <ul>
        <app-sidebar-itens label="Chamados" icon="pi pi-list" routerLink="/"></app-sidebar-itens>

        <app-sidebar-itens label="Novo Chamado" icon="pi pi-plus" routerLink="/novoChamado"></app-sidebar-itens>
    </ul>
</nav>