<p-table [value]="chamados" [tableStyle]="{'min-width': '50rem'}" paginator="true" [rows]="10" class="shadow-lg rounded-lg overflow-hidden">

    <ng-template pTemplate="header">
        <tr class="uppercase text-sm">
            <th>ID</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Categoria</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-chamado>
        <tr>
            <td>{{ chamado.id }}</td>
            <td>{{ chamado.titulo }}</td>
            <td>{{ chamado.descricao }}</td>
            <td>
                <span>{{ chamado.categoria }}</span>
            </td>
        </tr>
    </ng-template>
</p-table>