<div class="flex flex-col sm:flex-row gap-2 items-center sm:justify-between">

    <div class="flex flex-col sm:flex-row gap-2 items-center sm:gap-4 w-full sm:flex-1">

        <p-iconfield iconPosition="left" class="w-full sm:flex-1">
            <p-inputicon styleClass="pi pi-search" />
            <input pInputText id="pesquisar" name="pesquisar" [(ngModel)]="pesquisa" (ngModelChange)="onFiltroChange()" placeholder="Pesquisar chamados" class="w-full" />
        </p-iconfield>

        <p-select [options]="categorias" name="categoria" [(ngModel)]="selectedCategoria" (onChange)="onFiltroChange()" optionLabel="label" placeholder=" Categorias" inputId="categoria" class="w-full sm:w-auto" [showClear]="true">
        </p-select>
    </div>

    <p-button label="Novo Chamado" icon="pi pi-plus" severity="primary" styleClass="w-full sm:w-auto mt-2 sm:mt-0" routerLink="/novoChamado" />
</div>