<div class="flex flex-col sm:flex-row gap-2 items-center sm:justify-between">

    <div class="flex flex-col sm:flex-row gap-2 items-center sm:gap-4 w-full sm:flex-1">

        <p-iconfield iconPosition="left" class="w-full sm:flex-1">
            <p-inputicon styleClass="pi pi-search" />
            <input pInputText id="pesquisar" name="pesquisar" placeholder="Pesquisar chamados" class="w-full p-3 border-2 border-gray-700 rounded-lg bg-gray-900 text-white placeholder-gray-400 focus:outline-none focus:border-blue-500 transition duration-300" />
        </p-iconfield>

        <p-select [options]="categorias" name="categoria" [(ngModel)]="selectedCategoria" optionLabel="label" placeholder=" Categorias" inputId="categoria" class="w-full sm:w-auto" [showClear]="true">
        </p-select>
    </div>

    <p-button label="Novo Chamado" icon="pi pi-plus" severity="primary" styleClass="w-full sm:w-auto mt-2 sm:mt-0" routerLink="/novoChamado" />
</div>